PORT=XXXX
GOOGLE_APPLICATION_CREDENTIALS=./path/to/your-credential-file.json
FIREBASE_API_KEY=input_ur_firebase_api_key_here
EMAIL_USER=example@gmail.com
EMAIL_PASS=this_is_secret_password
DATABASE_URL=mysql://user:password@localhost:3306/database_name