PORT=XXXX
GOOGLE_APPLICATION_CREDENTIALS=./path/to/your-credential-file.json
FIREBASE_API_KEY=input_ur_firebase_api_key_here
EMAIL_USER=example@gmail.com
EMAIL_PASS=this_is_secret_password
DATABASE_URL=mysql://user:password@localhost:3306/database_name

# Google Storage
GOOGLE_CLOUD_PROJECT_ID="input_your_project_id"
GOOGLE_CLOUD_KEYFILE_PATH=./path/to/your-credential-storage-admin-file.json
GOOGLE_CLOUD_BUCKET_NAME="input_your_bucket_name"